{% if sect == 'prod' %}
<div class="col-md-10">
	<table class="table">
	   <thead>
	   <tr>
		   
		   <th>Customer</th>
		   <th>We</th>
	   </tr>
	   </thead>
	   <tbody>
		   <tr><td>Send Any Text</td>
			   <td></td>
			   
		   </tr>
		   <tr><td></td>
			   <td style="white-space:nowrap;">Welcome Message Asking For prefered Language (Choice)</td>
		   </tr>
		   <tr><td>Take A Choice</td>
			   <td></td>
		   </tr>
		   <tr><td></td>
			   <td style="white-space:nowrap;">Asking For Name if New Customer</td>
		   </tr>
		   <tr><td>(text) Customer Name</td></tr>
		   <tr><td></td>
			   <td style="white-space:nowrap;">Asking For Select Section If Exist Customer (choice)</td>
		   </tr>
		   <tr><td></td>
			   <td style="white-space:nowrap;">Section Shopping / FAQ / Forward To Live Person</td>
		   </tr>
		   <tr><td>Make Selection</td></tr>
		   <tr><td></td><td>Shopping Selection</td></tr>
		   <tr><td></td><td>display Items Category (Choice)</td></tr>
		   <tr><td>Make Choice</td></tr>
		   <tr><td></td><td>Item filter (Choice)</td></tr>
		   <tr><td></td><td>All Item</td></tr>
		   <tr><td></td><td>Price</td></tr>
		   <tr><td></td><td>Item Name</td></tr>
		   <tr><td></td><td>Offer</td></tr>
		   <tr><td>Select Filter</td><td></td></tr>
		   <tr><td></td><td>Display Product Card</td></tr>
		   <tr><td></td><td>Add to Cart (Choice)</td></tr>
		   <tr><td>Select Item</td><td></td></tr>
		   <tr><td></td><td>Add note(Choice)</td></tr>
		   <tr><td></td><td>CheckOut (Choice)</td></tr>
		   <tr><td>Add Note(Text)</td><td></td></tr>
		   <tr><td></td><td>In Case Customer Address Missing </td></tr>
		   <tr><td></td><td>Will Ask For Address</td></tr>
		   <tr><td>(Text) Address</td><td>Will Ask For Address</td></tr>
		   <tr><td></td><td>In Case Customer Location Missing </td></tr>
		   <tr><td></td><td>Will Ask For Location</td></tr>
		   <tr><td>Share Location</td><td></td></tr>
		   <tr><td></td><td>CheckOut Cart</td></tr>
		   <tr><td>Confirm</td><td></td></tr>
		   <tr><td></td><td>Confirm Order </td></tr>
		   <tr><td></td><td>Send Order Detail To Support Number</td></tr>
		  
	   </tbody>
	</table>
   </div>
{% elif sect == 'serv' %}
<div class="col-md-10">
	<table class="table">
	   <thead>
	   <tr>
		   
		   <th>Customer</th>
		   <th>We</th>
	   </tr>
	   </thead>
	   <tbody>
		   <tr><td>Send Any Text</td>
			   <td></td>
			   
		   </tr>
		   <tr><td></td>
			   <td style="white-space:nowrap;">Welcome Message Asking For prefered Language (Choice)</td>
		   </tr>
		   <tr><td>Take A Choice</td>
			   <td></td>
		   </tr>
		   <tr><td></td>
			   <td style="white-space:nowrap;">Asking For Name if New Customer</td>
		   </tr>
		   <tr><td>(text) Customer Name</td></tr>
		   <tr><td></td>
			   <td style="white-space:nowrap;">Asking For Select Section If Exist Customer (choice)</td>
		   </tr>
		   <tr><td></td>
			   <td style="white-space:nowrap;">Section Reservation / Display Address Location / Forward To Live Person</td>
		   </tr>
		   <tr><td>Make Selection</td></tr>
		   <tr><td></td><td>Reservation Selection</td></tr>
		   <tr><td></td><td>display Service Category (Choice)</td></tr>
		   <tr><td>Make Choice</td></tr>
		   
		   <tr><td></td><td>Display Service Details</td></tr>
		   <tr><td></td><td>Display 1 Week Working Days</td></tr>
		   
		   <tr><td>Select Day</td><td></td></tr>
		   <tr><td></td><td>Display Available Time</td></tr>
		   
		   <tr><td>Select Time</td><td></td></tr>
		   <tr><td></td><td>Confirm Booking</td></tr>
		   <tr><td></td><td>Send Service Location</td></tr>
		   <tr><td></td><td>Notify Support By Booking</td></tr>
		   
	   </tbody>
	</table>

	  
   </div>

{% endif %}


