<div class="col-md-10">
	{% if srv == 'srv' %}
	<table class="table">
		<thead>
		<tr style="text-align: center;">
			<th>Order No.</th>
			<th>Name</th>
			<th>Phone</th>
			<th>Service</th>
			<th>Day</th>
			<th>Time</th>
			<th colspan="1">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for i in crt %}
		<tr style="text-align: center;">
			<td>{{i.transaction_id}}</td>
			<td>{{i.cust.name}}</td>
			<td>{{i.cust.phone}} </td>
			
			<td>{{i.appoint.service}}</td>
			<td>{{i.day.day}}</td>
			<td>{{i.slot.start}}</td>
			<td><a class="btn btn-warning" href="/convdtls/{{i.id}}/" target="_blank" >Converstation</a></td>
		</tr>
		{% endfor %}
	   
	</tbody>
</table>
	{% endif %}
	{% if srv == 'prod' %}
	<table class="table">
		<thead>
		<tr style="text-align: center;">
			<th>Order No.</th>
			<th>Phone</th>
			<th>Name</th>
			<th>Amount</th>
			<th colspan="2">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for i in crt %}
		<tr style="text-align: center;">
			<td>{{i.transaction_id}}</td>
			<td>{{i.cust.phone}} </td>
			<td>{{i.cust.name}}</td>
			<td>{{i.total}}</td>
			<td><button class="btn btn-warning" hx-headers='{ "X-CSRFToken": "{{ csrf_token }}"} ' hx-post="/orddetls/{{i.id}}/" hx-target="#dtl">Details</button></td>
		 
			<td><a class="btn btn-warning" href="/convdtls/{{i.id}}/" target="_blank" >Converstation</a></td>
		</tr>
		{% endfor %}
	   
	</tbody>
</table>
	{% endif %}
</div>
