{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>In-Hub</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css"'%} rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">info@in-hub.com</a></i>

            </div>

        </div>
    </section>
    <!-- End Top Bar -->

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">

                <h1>In-Hub<span>.</span></h1>
            </a>
            {% include 'topnav.html'%}
            <!-- .navbar -->

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header>
    <!-- End Header -->
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2>Welcome to <span>In-Hub</span></h2>
                    <p>Automation Communication Apps</p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#about" class="btn-get-started">Get Started</a>

                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="{% static 'assets/img/hero-img.svg'%}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
                </div>
            </div>
        </div>

        <div class="icon-boxes position-relative">
            <div class="container position-relative">
                <div class="row gy-4 mt-5">

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box" style="background-color: rgba(255, 0, 0, 0.747);">
                            <div class="icon"><i class="bi bi-menu-app"></i></div>
                            <h4 class="title"><a href="" class="stretched-link">We</a></h4>
                        </div>
                    </div>
                    <!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box" style="background-color:rgba(239, 72, 12, 0.703);">
                            <div class="icon"><i class="bi bi-diagram-3"></i></div>
                            <h4 class="title"><a href="" class="stretched-link">Make</a></h4>
                        </div>
                    </div>
                    <!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box" style="background-color:rgba(255, 157, 0, 0.726);">
                            <div class="icon"><i class="bi bi-tornado"></i></div>
                            <h4 class="title"><a href="" class="stretched-link">It</a></h4>
                        </div>
                    </div>
                    <!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon-box" style="background-color:rgba(195, 255, 0, 0.888);">
                            <div class="icon"><i class="bi bi-emoji-smile"></i></div>
                            <h4 class="title"><a href="" class="stretched-link">Simple</a></h4>
                        </div>
                    </div>
                    <!--End Icon Box -->

                </div>
            </div>
        </div>


    </section>
    <!-- End Hero Section -->

    <main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>About Us</h2>
                    <p>
                        <h3>Welcome to In-Hub.</h3>
                    </p>
                </div>

                <div class="row gy-4">
                    <div class="col-lg-6">
                        <h3> One-stop-shop for all your software needs!</h3>
                        <img src="{% static 'assets/img/about.jpg'%}" class="img-fluid rounded-4 mb-4" alt="">

                    </div>
                    <div class="col-lg-6">
                        <div class="content ps-0 ps-lg-5">
                            <p class="">
                                We are a team of experienced and passionate individuals who love creating innovative and user-friendly apps that help businesses thrive.
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle-fill"></i>Cloud-based apps and mobile apps</li>
                                <li><i class="bi bi-check-circle-fill"></i> Cloud ERP systems</li>
                                <li><i class="bi bi-check-circle-fill"></i> SaaS apps</li>
                            </ul>
                            <p>
                                we have a wide range of products that cater to different industries and business sizes. At In-Hub, we believe that technology should work for you, not the other way around.
                            </p>
                            <p>That's why our team works tirelessly to ensure our apps are easy to use, efficient, and customizable according to your specific needs. Join the hundreds of satisfied clients who have trusted us with their software solutions
                                - because at In-Hub, we're not just about creating apps; we're about building relationships and helping businesses thrive.</p>


                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Us Section -->

        <!-- ======= Clients Section ======= -->


        <!-- ======= Stats Counter Section ======= -->
        <section id="stats-counter" class="stats-counter">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4 align-items-center">

                    <div class="col-lg-6">
                        <img src="{% static 'assets/img/stats-img.svg'%}" alt="" class="img-fluid">
                    </div>

                    <div class="col-lg-6">

                        <div class="stats-item d-flex align-items-center">
                            <span data-purecounter-start="0" data-purecounter-end="3564" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Happy Clients</strong></p>
                        </div>
                        <!-- End Stats Item -->

                        <div class="stats-item d-flex align-items-center">
                            <span data-purecounter-start="0" data-purecounter-end="4286" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Projects</strong></p>
                        </div>
                        <!-- End Stats Item -->

                        <div class="stats-item d-flex align-items-center">
                            <span data-purecounter-start="0" data-purecounter-end="20480" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Hours Of Support</strong> </p>
                        </div>
                        <!-- End Stats Item -->

                    </div>

                </div>

            </div>
        </section>
        <!-- End Stats Counter Section -->


        <!-- ======= Our Services Section ======= -->
        <section id="services" class="services sections-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>WhatsApp Bots</h2>
                    <p>Automation of WhatsApp services ,helps businesses increase engagement with their customers.</p>
                </div>

                <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item  position-relative">
                            <div class="icon">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <h3>Collect Orders</h3>
                            <p>As soon as a customer places an order on WhatsApp or engages in a chat conversation, our intelligent system swiftly captures all the necessary details without missing a beat</p>

                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-calendar3"></i>
                            </div>
                            <h3>Collect Reservation</h3>

                            <p>As soon as clients engage in a chat conversation, our intelligent system displays an available calendar and an empty timetable. Our intelligent system makes reservations the easy way by choosing a day and time.</p>

                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-graph-up"></i>
                            </div>
                            <h3>Create Auction</h3>
                            <p>Without special apps, you can create auctions on chat apps. Invite participants to your auction and let them challenge</p>

                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-question-circle"></i>
                            </div>
                            <h3>Customers Question</h3>
                            <p>Don't waste time answering questions; let our intelligent system answer your customers questions.</p>

                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-chat-dots"></i>
                            </div>
                            <h3>Custom Conversation</h3>
                            <p>Create your own conversation scenario, and our intelligent system will manage it.</p>
                            <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-geo-alt"></i>
                            </div>
                            <h3>Location</h3>
                            <p>No need to ask about the address for every delivery or to share your business location; our intelligent system saves this data and supplies it when needed.</p>
                            <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                    <!-- End Service Item -->

                </div>

            </div>
        </section>
        <!-- End Our Services Section -->


        <!-- ======= Pricing Section ======= -->
        <section id="price" class="pricing sections-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Pricing</h2>
                    <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
                </div>

                <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

                    <div class="col-lg-4">
                        <div class="pricing-item">
                            <h3>Basic Plan</h3>
                            <div class="icon">
                                <i class="bi bi-box"></i>
                            </div>
                            <h4><sup>$</sup>5<span> / month</span></h4>
                            <h6>Billed Yearly</h6>
                            <ul>
                                <li><i class="bi bi-check"></i>7 Days Trial</li>
                                <li><i class="bi bi-check"></i>2 Language Support</li>
                                <li><i class="bi bi-check"></i>Notification Message</li>
                                <li><i class="bi bi-check"></i>24/7 support</li>
                                <li class="na"><i class="bi bi-x"></i> <span>DashBoard</span></li>
                                <li class="na"><i class="bi bi-x"></i> <span>Chat History</span></li>
                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->

                    <div class="col-lg-4">
                        <div class="pricing-item featured">
                            <h3>Template Plan</h3>
                            <div class="icon">
                                <i class="bi bi-airplane"></i>
                            </div>

                            <h4><sup>$</sup>10<span> / month</span>
                            </h4>

                            <h6>Billed Yearly</h6>

                            <ul>
                                <li><i class="bi bi-check"></i>7 Days Trial</li>
                                <li><i class="bi bi-check"></i>All Basic Plan</li>
                                <li><i class="bi bi-check"></i>Auction System</li>
                                <li><i class="bi bi-check"></i>10 Products</li>
                                <li><i class="bi bi-check"></i>4 Category</li>
                                <li><i class="bi bi-check"></i>10 FAQ</li>
                                <li><i class="bi bi-check"></i>Chat History</li>
                                <li><i class="bi bi-check"></i>DashBoard</li>

                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->

                    <div class="col-lg-4">
                        <div class="pricing-item">
                            <h3>Custom Plan</h3>
                            <div class="icon">
                                <i class="bi bi-send"></i>
                            </div>
                            <h4><sup>$</sup>20<span> / month</span></h4>
                            <h6>Billed Yearly</h6>
                            <ul>
                                <li><i class="bi bi-check"></i>7 Days Trial</li>
                                <li><i class="bi bi-check"></i>All Template Plan</li>
                                <li><i class="bi bi-check"></i>Unlimited Products</li>
                                <li><i class="bi bi-check"></i>Unlimited Category</li>
                                <li><i class="bi bi-check"></i>5 Conversation Design</li>

                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->

                </div>

            </div>
        </section>
        <!-- End Pricing Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-4">
                        <div class="content px-xl-5">
                            <h3>Frequently Asked <strong>Questions</strong></h3>

                        </div>
                    </div>

                    <div class="col-lg-8">

                        <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    Do we offer a money-back guarantee?
                  </button>
                                </h3>
                                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        We offer refunds and money back within the<strong>First</strong>month of subscribing.
                                    </div>
                                </div>
                            </div>
                            <!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    Are there any fees per message?
                  </button>
                                </h3>
                                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        We don't impose any fees on messages; we provide the automation system for answering. WhatsApp gives monthly 1000 service messages for free. To understand WhatsApp and other platform pricing systems, please contact support.
                                    </div>
                                </div>
                            </div>
                            <!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    How can I link my WhatsApp business number to our system?
                  </button>
                                </h3>
                                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        After your subscription, you will receive all instructions about linking your WhatsApp number to our system, or you can contact our support team to help.
                                    </div>
                                </div>
                            </div>
                            <!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                   Does all Message is secured?
                  </button>
                                </h3>
                                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        All messages and chats are managed by the AI system without any human interruption, and all messages are encrypted .
                                    </div>
                                </div>
                            </div>
                            <!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    Is it possible to upgrade or downgrade my plan?
                  </button>
                                </h3>
                                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        For all upgrades or downgrades, you need to contact the support team, as we manage them case by case.
                                    </div>
                                </div>
                            </div>
                            <!-- # Faq item-->

                        </div>

                    </div>
                </div>

            </div>
        </section>
        <!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Contact</h2>
                    <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
                </div>

                <div class="row gx-lg-0 gy-4">

                    <div class="col-lg-4">

                        <div class="info-container d-flex flex-column align-items-center justify-content-center">
                            <div class="info-item d-flex">
                                <i class="bi bi-geo-alt flex-shrink-0"></i>
                                <div>
                                    <h4>Location:</h4>
                                    <p>A108 Adam Street, New York, NY 535022</p>
                                </div>
                            </div>
                            <!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-envelope flex-shrink-0"></i>
                                <div>
                                    <h4>Email:</h4>
                                    <p>info@example.com</p>
                                </div>
                            </div>
                            <!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-phone flex-shrink-0"></i>
                                <div>
                                    <h4>Call:</h4>
                                    <p>+1 5589 55488 55</p>
                                </div>
                            </div>
                            <!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-clock flex-shrink-0"></i>
                                <div>
                                    <h4>Open Hours:</h4>
                                    <p>Mon-Sat: 11AM - 23PM</p>
                                </div>
                            </div>
                            <!-- End Info Item -->
                        </div>

                    </div>

                    <div class="col-lg-8">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                    <!-- End Contact Form -->

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <h2>In-Hub <span>.</span></h2>

                    </a>
                    <p>One-stop-shop for all your software needs.</p>
                    <div class="social-links d-flex mt-4">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><a>Web Design</a></li>
                        <li><a>Web Development</a></li>
                        <li><a>Product Management</a></li>
                        <li><a>Marketing</a></li>
                        <li><a>Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        A108 Adam Street <br> New York, NY 535022<br> United States <br><br>
                        <strong>Phone:</strong> +20 128 207 3382 <br>
                        <strong>Email:</strong> info@in-Hub.com<br>
                    </p>

                </div>

            </div>
        </div>



    </footer>
    <!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>Hub