<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"></svg>
    <span class="fs-4">{{name}}</span>
</a>
<hr>
 <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item">
                                <a href="/dash/" class="nav-link text-white" aria-current="page">
                                    <svg class="bi pe-none me-2" width="16" height="16"></svg> Home
                                </a>
                            </li>
                            <li>
                                <a href="/conv/" class="nav-link text-white">
                                    <svg class="bi pe-none me-2" width="16" height="16"></svg> Conversation
                                </a>
                            </li>
                            <li>
                                <a href="/template/" class="nav-link text-white" >
                                    <svg class="bi pe-none me-2" width="16" height="16"></svg> Templates
                                </a>
                            </li>
                            <li>
                                <a href="/setup/" class="nav-link text-white" >
                                    <svg class="bi pe-none me-2" width="16" height="16"></svg> Setting
                                </a>
                            </li>
                            <li>
                                <a href="/whatsapp/" class="nav-link text-white" >
                                    <svg class="bi pe-none me-2" width="16" height="16"></svg> WhatsApp Tutorial
                                </a>
                            </li>

                            <li>
                                <a href="/logout_view/" class="nav-link text-white">
                                    <svg class="bi pe-none me-2" width="16" height="16"></svg> LogOut
                                </a>
                            </li>
                        </ul>